:root {
  /* Colors */
  --primary: #f4e041;
  --primary-hover: #ffe302;

  --secondary-main: #7e7e7e;
  --secondary-contrast: #d0cfcf;
  --secondary-light: #b4b4b4;
  --secondary-dark: rgba(0, 0, 0, 0.87);

  --error: #cb3d40;
  --info-main: #00bdd3;


  --alternate: #ffffff;
  --alternate-vague: rgba(255, 255, 255, 0.87);

  --background: #f8f8f8;

  //   /* Fonts */
  --nunito: nunito_f, sans-serif;

  --default-size: 1rem,
  --special-size: 40px;

  --default-weight: 400;

  --default-lheight: 1.63;
  --special-lheight: 1;

}

// Breakpoints

$small: 360px;
$medium: 768px;
$large: 1024px;
$extra-large: 2560px;
